{% extends 'photo_manager/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'photo_manager/css/smoothDivScroll.css' %}">
{% endblock head %}

{% block content %}
<section class="image-scroller">
	<div class="home-image-container">
    <div class="scroll-right">
  		<div id="image-row">
          {% for photo in all_homepagephotos %}
     			<img src="{{photo.image.url}}" />
          {% endfor %}
    	</div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %} 
<script type="text/javascript" src="{% static 'photo_manager/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'photo_manager/js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'photo_manager/js/jquery.kinetic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'photo_manager/js/jquery.smoothdivscroll-1.3-min.js' %}"></script>

<script>

$(document).ready(function () {
    $("#image-row").smoothDivScroll({
      mousewheelScrolling: "allDirections",
      manualContinuousScrolling: true,
      autoScrollingMode: "onStart"
    });
  });


</script>
{% endblock script %}