{% extends 'photo_manager/base.html' %}
{% load static %}

{% block content %}
<div id="photography_wrapper">
	<div class="container">
		<ul class="photo-grid">
			<div class="about-header">
				<div class="header cl-effect-162">
					<h1 data-hover="photography">Photography</h1>
				</div>
			</div>
			{% for photo in ocean %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/ocean">
						<figure>
							<img src="{{photo.image.url}}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in gadgets %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/gadgets">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in sky %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/sky">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in wildlife %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/wildlife">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in portraits %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/portraits">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in urban %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/urban">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in product_design %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/product_design">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in forest %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/forest">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
			{% for photo in flower %}
			{% if photo.cover %}
			<div class="col-md-4">
				<li>
					<a href="/flower">
						<figure>
							<img src="{{ photo.image.url }}">
							<figcaption><p>{{ photo.category }}</p></figcaption>
						</figure>
					</a>
				</li>
			</div>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
				
		
{% endblock content %}


