{% extends 'photo_manager/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'photo_manager/css/jquery.mThumbnailScroller.css' %}">
{% endblock head %}

{% block content %}
<div class="middle-container">
	<div class="box">
		<div class="header cl-effect-162">
			<h1 data-hover="Product Design">Product Design</h1>
		</div>
		<div id="full-image" class="box">
			<img src="{{ product_design.0.image.url }}" />
		</div>
	</div>
</div>
{% endblock content %}
